:root {
    /*Primary Colors*/
    --black-cherry: #881f48;
    --black-berry: #022f47;
    --white: #ffffff;
    --black: #000000;

    /*Background Clours (BG)*/
    --bg-1: #31465a;
    --bg-2: #586275;
    --bg-3: #828796;
    --bg-4: #b2b5be;
    --bg-5: #f3f3f4;

    /* Bright Colors (B) */
    --b-purple: #44174C;
    --b-blue: #106396;
    --b-torquise: #26A4B4;
    --b-green: #25B67B;
    --b-yellow: #ECB41F;
    --b-orange: #E06B26;
    --b-magenta: #E4185B;
    --b-violet: #9F2064;

    /* Dark Colors (D) */
    --d-purple: #301339;
    --d-blue: #11476C;
    --d-torquise: #1C6C79;
    --d-green: #0F7657;
    --d-yellow: #866C2C;
    --d-orange: #874728;
    --d-magenta: #881F48;
    --d-violet: #651D4E;

    /* Fonts */
    --font-body: 'Roboto', sans-serif;
    --font-alt-headline: 'Share Tech Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    /* background-color: blue; */
}